# Database configuration
DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=FastAPI_DB
DB_USERNAME=root
DB_PASSWORD=password

sqlite_url = "sqlite:///./db.db"


# JWT configuration
JWT_SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES = 